.serverIcon {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 1em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    p {
        margin: 0px;
        padding: 2px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    gap: 10px
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    i {
        margin-right: 5px;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.idle {
    background-color: #88e581;
}

.busy {
    background-color: #e58181;
}

.offline {
    background-color: #313131;
    opacity: 0.5;
}