.map {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  height: 98vh;
}

.top-menu {
  color: #fff;
  padding: 10px;
  text-align: center;
  height: 100px;
  border-radius: 5px;
  // shadow
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #ccc;
}

.servers {
  padding: 1em;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.load-balancers {
  padding: 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-area {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: calc(100vh - 60px);
}
