<div class="menu">
  <div class="options">
    <div class="field">
      <label class="label">Load Balancing Algorithm</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select
            [(ngModel)]="selectedLoadBalancingAlgorithm"
            (change)="onAlgorithmChange()"
          >
            <option
              *ngFor="let algorithm of loadBalancingAlgorithms"
              [value]="algorithm.id"
            >
              {{ algorithm.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Request Frequency</label>
      <div class="control">
        <input
          [(ngModel)]="requestInterval"
          class="input"
          type="number"
          placeholder="Frequency of Incoming Requests"
        />
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="button" (click)="addServer()">
      <span class="icon">
        <i class="ph ph-plus"></i>
      </span>
      <span>Add Server</span>
    </button>

    <button
      class="button"
      (click)="startSimulation()"
      [disabled]="simluationRunning$ | async"
    >
      <span class="icon">
        <i class="ph ph-play"></i>
      </span>
      <span>Start Simulation</span>
    </button>
    <button
      class="button"
      (click)="stopSimulation()"
      [disabled]="!(simluationRunning$ | async)"
    >
      <span class="icon">
        <i class="ph ph-stop"></i>
      </span>
      <span>Stop Simulation</span>
    </button>
  </div>
</div>
